body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */

:root {
  --card-bg-color: #ffffff;
  --card-border-color: #dddddd;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

/* Dark mode variables */
body.dark {
  --card-bg-color: #333333;
  --card-border-color: #444444;
  --primary-color: #66b2ff;
  --secondary-color: #aaaaaa;
}

